.command-container {
  width: 80%;
  margin: 25px auto;
}
.command-container ul {
  padding-left: 25px;
}
.command-container p {
  text-indent: 20px;
  margin: 10px 0;
}
.demo {
  width: 100%;
  margin: 10px 0;
}
.demo img {
  width: 100%;
  height: 100%;
}