.toc-container {
  overflow-x: auto;
  background-color: #ffffff;
}
.toc-container a {
  color: #4137c9;
}
.table {
  width: 80%;
  border-spacing: 0;
  margin: 15px auto;
  text-align: center;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.table thead {
  color: #ffffff;
 background-color: #000000;
}
.table th, td {
  padding: 8px;
  text-align: left;
}
.table tr:nth-child(even){background-color: #f2f2f2}

.command {
  cursor: pointer;
  padding: 3px 6px;
  font-style: italic;
  border-radius: 2px;
  width: fit-content;
  color: rgb(240, 98, 98);
  background-color: rgb(224, 224, 224);
}